.sidebar-item{
    width: 100%;
    margin-bottom: 15px;
    /* border: solid 1px; */
}
.sidebar-heading{
    padding: 5px;
    background-color: rgb(199, 199, 199);
    text-align: center;
    font-weight: 700;
    font-size: 17px;
}
.item-container{
    /* margin: 0 auto 5px; */
    padding: 7px 10px;
    /* overflow: hidden; */
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.item-container:hover{
    cursor: pointer;
}
.sidebar-item  ul{
    list-style: none;
    padding:5px;
}
.clicked{
    background-color: #009292;
    color: white;
    padding: 9px 12px;
    border-radius: 5px;
    align-items: center;
    margin-top: 3px;
}